<a href="http://chinmayabirmingham.org/sites/default/files/images/Gita_Dhyanam.pdf" target="_blank">PDF Original</a>
<a href="http://aumamen.com/topic/bhagavad-gita-dhyanam-dhyana-slokas" target="_blank">Source Below</a>

<hr />
<a class="audio-file" href="https://www.youtube.com/watch?v=nxgwhFfJWyU" data-youtube="nxgwhFfJWyU">Sanskrit</a>
<!-- alternatives: EUY07MzjcDE-->
<a class="audio-file" data-file="english" href="https://www.youtube.com/watch?v=nxgwhFfJWyU" data-youtube="nxgwhFfJWyU">English</a>


<div class="lyrics-versions">
	<label class="toggle-version sanskrit"><input type="checkbox" checked data-version="sanskrit" /> Sanskrit</label>
	<label class="toggle-version transliteration"><input type="checkbox" checked data-version="transliteration" /> Transliteration in English</label>
	<label class="toggle-version translation"><input type="checkbox" checked data-version="translation" /> Translation into English</label>
</div>

<div class="lyrics-verse time-sync" data-index="1" data-time="20">
<div class="sanskrit">ॐ पार्थाय प्रतिबोधितां भगवता नारायणेन स्वयं व्यासेन ग्रथितां पुराणमुनिना मध्ये महाभारतम् ।<br />
अद्वैतामृतवर्षिणीं भगवतीम्- अष्टादशाध्यायिनीम् अम्ब त्वामनुसन्दधामि भगवद्- गीते भवद्वेषिणीम् ॥ १॥</div>

<div class="transliteration">Om Parthaya prathi bodhithm bhagawataa naaraayanena swayam, Vyasaena gratitaam Puraana muninaa madhye Mahabaratam<br />
Advaitamruta varshaneem bhagawteem ashta dashaa dhyayineem, Ambaa twaam anusandadhaami bhagavad geete bhava dweshineem.</div>

<div class="translation time-sync" data-time="10" data-file="english">Bhagavad Gita taught to Arjuna, by Lord Narayana himself, written in the middle of the Mahabharata by the Old Sage Vyasa<br />
O Divine mother, she who showers Elixir of Advaita on us, O mother of 18 chapters, I meditate on thee, O Bhagavad gita, the destroyer of illusion of manifestation (Samsaara)</div>
</div>

<div class="lyrics-verse time-sync" data-index="2" data-time="40">
<div class="sanskrit">नमोऽस्तु ते व्यास विशालबुद्धे फुल्लारविन्दायतपत्रनेत्र ।<br />
येन त्वया भारततैलपूर्णः प्रज्वालितो ज्ञानमयः प्रदीपः ॥ २॥</div>

<div class="transliteration">Namosthuthe Vyasa vishala buddhe, phullaravindayatha pathra nethra<br />
Yena tvayaa Bhaarata thaila poorna prajvalito jnanamayah pradeepah.</div>

<div class="translation time-sync" data-time="20" data-file="english">Salutations O Vyasa(the author), one with the great intellect, with eyes like the fully blossomed lotus<br />
Through whom, the lamp of light is filled with oil of knowledge.</div>
</div>

<div class="lyrics-verse time-sync" data-index="3" data-time="60">
<div class="sanskrit">प्रपन्नपारिजाताय तोत्रवेत्रैकपाणये ।<br />
ज्ञानमुद्राय कृष्णाय गीतामृतदुहे नमः ॥ ३॥</div>

<div class="transliteration">Prapanna paarijaataaya , totra vetraika paanaye<br />
Jnaana mudraaya Krishnaaya geetamrita duhe namah.</div>

<div class="translation time-sync" data-time="30" data-file="english">Salutations to Krishna, the bestower of all desires of the desirees.<br />
The holder of JnanaMudra, the milker of the Elixir of Bhagavad Gita.</div>
</div>

<div class="lyrics-verse time-sync" data-index="4" data-time="80">
<div class="sanskrit">सर्वोपनिषदो गावो दोग्धा गोपाल नन्दनः ।<br />
पार्थो वत्सः सुधीर्भोक्ता दुग्धं गीतामृतं महत् ॥ ४॥</div>

<div class="transliteration">Sarvaopanishado gaavo dogdhaa Gopala Nandana<br />
Partho vatsah sudheer bhoktaa dugdham Geetamritam mahat.</div>

<div class="translation time-sync" data-time="40" data-file="english">All the Upanishads are cows; the Milker is Krishna, the cowherd boy;<br />
Arjuna is the calf; Wise and pure men drink the milk, the supreme, immortal nectar of the Gita</div>
</div>

<div class="lyrics-verse time-sync" data-index="5" data-time="100">
<div class="sanskrit">वसुदेवसुतं देवं कंसचाणूरमर्दनम् ।<br />
देवकीपरमानन्दं कृष्णं वन्दे जगद्गुरुम् ॥ ५॥</div>

<div class="transliteration">Vasudeva sutam devam kamsa Chanoora mardhanam<br />
Devaki paramaanandam Krishnam vande Jagad Gurum.</div>

<div class="translation time-sync" data-time="45" data-file="english">O son of Vasudeva, O Lord who destroyed Kamsa and Chanuura<br />
O Joy of mother Devaki, Salutations O Krishna, the teacher of the world.</div>
</div>

<div class="lyrics-verse time-sync" data-index="6" data-time="120">
<div class="sanskrit">भीष्मद्रोणतटा जयद्रथजला गान्धारनीलोत्पला शल्यग्राहवती कृपेण वहनी कर्णेन वेलाकुला ।<br />
अश्वत्थामविकर्णघोरमकरा दुर्योधनावर्तिनी सोत्तीर्णा खलु पाण्डवै रणनदी कैवर्तकः केशवः ॥ ६॥</div>

<div class="transliteration">Bheeshma drona thata jayadratha jalaa , Gandhaara neelothphala, Shalyagrahavatee , kripena vahanee , karnena Velaakulaa<br />
Aswathama Vikarnaa ghora Makaraa Duryodhana varthinee, Sotheerno khalu Pandavai , rana nadhee kaivarthakah Kesavah.</div>

<div class="translation time-sync" data-time="50" data-file="english">Bheeshma, Drona were the two banks , Jayadrada was the water, Shakuni (king of Gandhara) was the blue lotus, Shalya was the crocodile , Kripa was the tide , Karna was the mighty wave.<br />
Aswathama and Vikarna were the dangerous alligators, Duryodhana was the whirlpool, Pandavas crossed this river of war with Krishna as their helmsman.</div>
</div>

<div class="lyrics-verse time-sync" data-index="7" data-time="140">
<div class="sanskrit">पाराशर्यवचः सरोजममलं गीतार्थगन्धोत्कटं नानाख्यानककेसरं हरिकथा- सम्बोधनाबोधितम् ।<br />
लोके सज्जनषट्पदैरहरहः पेपीयमानं मुदा भूयाद्भारतपङ्कजं कलिमल- प्रध्वंसिनः श्रेयसे ॥ ७॥</div>

<div class="transliteration">Paraasharayavacha sarojamamalam Geetartha gandothkatam, Nanakhyanaka kesaram harikatha sambodhanaa bodhitam<br />
Loke sajjana shat padairaharaha pepeeyamaanam mudaa, Bhooyad Bharatha pankajam kali mala pradhwamsinah shreyase.</div>

<div class="translation time-sync" data-time="55" data-file="english">May this lotus of the Mahabharata, born in the lake of the words of Vyasa (Son of Parashara), with intense sweet fragrance of the essense of Gita, with many stories as its stamens, fully opened by the discourses on Hari, the destroyer of the effects of Kaliyuga, and drunk joyously by the bees of good men in the world, day by day become the bestower of good to us.</div>
</div>

<div class="lyrics-verse time-sync" data-index="8" data-time="160">
<div class="sanskrit">मूकं करोति वाचालं पङ्गुं लङ्घयते गिरिम् ।<br />
यत्कृपा तमहं वन्दे परमानन्दमाधवम् ॥ ८॥</div>

<div class="transliteration">Mookam karoti vaachaalam , pangum lankayathe girim<br />
Yath krupa thaham vandhe Paramananda madhavam.</div>

<div class="translation time-sync" data-time="60" data-file="english">I bow down to Sri Krishna, the source of all joy, whose compassion brings speech from the lips of the dumb and carries the lame over mountains</div>
</div>

<div class="lyrics-verse time-sync" data-index="9" data-time="180">
<div class="sanskrit">यं ब्रह्मा वरुणेन्द्ररुद्रमरुतः स्तुन्वन्ति दिव्यैः स्तवैः वेदैः साङ्गपदक्रमोपनिषदैः गायन्ति यं सामगाः ।<br />
ध्यानावस्थिततद्गतेन मनसा पश्यन्ति यं योगिनः यस्यान्तं न विदुः सुरासुरगणाः देवाय तस्मै नमः ॥ ९॥</div>

<div class="transliteration">Yam brahmaVaruna indra Rudra marutah sthunvanthi divyai stavai, Vedai saang padakrama upanishadai gayanhi yam Saamagaah<br />
Dhyanasthita tadgatena manasa pasyanti yam Yoginah, Yasyantam na viduh surasura ganaah devaaya tasmai namah.</div>

<div class="translation time-sync" data-time="65" data-file="english">Salutation to him who is worshipped with divine chants by Brahma, Varuna, Indra , Rudra, Maruta, Who is pleased by singers of Sama Veda by singing Vedas and Upanishads following the word sequence, Who is seen by yogis who are absorbed in him, with their mind merging in him, And whose end is not known even by the hoards of devas and Asuras.</div>
</div>
