#topbar { background-color: #472F69; }
#topbar .cta a { background-color: #3ACAFF; color: #2D3D66; }

#header { height: 82px; }
#header .logo img { max-height: 52px; }
.nav-menu { margin-top: 4px; }

#hero {
  background: url(home/header-bg.jpg) center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#hero h2 { font-weight: 22px; }

.inline { display: inline-block!important; }
#hero .d-flex { padding-left: 30px; }
#hero .btn-get-started { position: relative; left: -10px; top: -5px; }

.why-us .container { padding-top: 50px; }
.why-us .icon-boxes .icon-box { position: relative; top: 0px; }
.why-us .content { background-color: #3BCBFF; color: #315B94; border-radius: 10px; }
.why-us h3 { color: #000; font-weight: 900; }
.why-us h4 a:hover { text-decoration: underline; }
.why-us .content .more-btn { background-color: #EEF9FF; color: #2D3D66; }

.about .video-box {
	background: url(home/about-bg.jpg) center center no-repeat; background-size: cover;
}

.about .play-btn {
background: radial-gradient(#3BCBFF 50%, rgba(59, 203, 255, 0.4) 52%);
}

/*.about .icon:hover, .about .icon .iconym:hover { background-color: #CBFF3B; color: #5B9431; } */

.testimonials {
	background: url(home/testimonial.jpg) no-repeat; background-size: cover;
	background-attachment: fixed;
}

#footer .footer-contact img { max-width: 350px; }
#footer .description { margin-top: 0px; display: inline-block; position: relative; font-weight: bold; top: -30px; left: 90px; }
#footer .contact-details { margin-left: 90px; }

#pre-footer { border-top: 2px solid #66f; padding-top: 15px; }
#footer { background-color: #EEF9FF; border-top: 2px solid #66f; }
#footer .footer-top { padding: 30px 0 10px 0; }
#footer .footer-top .footer-links { padding-top: 60px; }
