.tab-links span, .tab-links a { display: inline-block; padding: 12px;  }
.tab-links a { background-color: #2788FB!important; color: #fff; font-weight: bold; }

.hidden { display: none; }

.am-menu .selected { font-weight: bold; }

.mobile-nav-toggle { position: absolute; }

.why-us .content, .why-us .content a { color: #1D5B08; }
.why-us .content a { text-decoration: underline; }
.container h3 { font-weight: 900; letter-spacing: 1px; color: #1F442E; }
.related-links { margin-bottom: 18px; font-weight: bold; }

.row.services .icon-box { height: auto; }

.iconym { height: 60px; width: 80px; display: inline-block; }
/* 2020 */
.iconym-causes { background:  url(icons/causes.png) no-repeat; background-size: cover; }
.iconym-wow { background:  url(icons/wow.png) no-repeat; background-size: cover; }
.iconym-explore { background:  url(icons/explore.png) no-repeat; background-size: cover; }

.iconym-learning { background:  url(icons/learning.png) no-repeat; background-size: cover; }
.iconym-healing { background:  url(icons/healing.png) no-repeat; background-size: cover; }
.iconym-helping { background:  url(icons/helping.png) no-repeat; background-size: cover; }
/* 2021*/
.iconym-awe { background:  url(icons/awe.png) no-repeat; background-size: cover; }
.iconym-pact { background:  url(icons/pact.png) no-repeat; background-size: cover; }
.iconym-enabler { background:  url(icons/enabler.png) no-repeat; background-size: cover; }

section { padding-top: 0; }
.banner-img { width: 100%; margin-bottom: 20px; }

.section-menu { background-color: #F7F9FF; display: table; }
.section-menu ul { display: table-row; }
.section-menu li { display: table-cell; padding: 12px; border-right: 2px solid maroon; margin: 6px; }

.values .card:hover a { color: #fff; }

a[target=_blank]:not(.silent-external-link) { background: url(icons/external.png) center right no-repeat; padding-right: 10px; }
.g-doc, .g-slide, .g-sheet, .yt, .legacy { padding-right: 0px!important; }
*-a.silent-external-link,*/ #top-bar-navigation a { background-image: none; padding-right: 0px; }

.list-gap li { margin-bottom: 15px; }
.sub-site a { margin-bottom: 15px; display: block; }
@media (max-width: 768px) {
	.sub-site { border-top: 3px solid #9CCC3F; margin-top: 20px; padding-top: 15px; }
}
.links-inline a { display: inline; }

h3.verse { text-decoration: underline; }
a.selected { text-decoration: underline; }
a.heading { border-bottom: 2px solid #008080; font-size: 120%; }
a.goto-time { display: block; padding: 6px; background-color: #ccc; cursor: pointer; }
audio.drive-mp3 { width: 100%; }

.lyrics-verse { margin-bottom: 15px; }
.hindi, .marathi, .sanskrit, .transliteration, .translation { padding: 8px; margin-bottom: 8px; border-left: 4px solid #666; }
label.toggle-version { color: #fff; padding: 6px; border: 1px dotted #ccc; font-weight: bold; }
div.sanskrit, div.hindi, div.marathi { border-left-color: #008; } label.sanskrit, label.hindi, label.marathi { background-color: #008; }
div.transliteration { border-left-color: #800; } label.transliteration { background-color: #800; }
div.translation { border-left-color: #080; } label.translation { background-color: #080; }

.g-doc, .g-slide, .g-sheet, .yt, .legacy, .ym { background:  left center no-repeat!important; padding-left: 20px; padding-right: 0px!important; }
.g-doc { background-image: url(https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document)!important; }
.g-slide { background-image: url(https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.presentation)!important; }
.g-sheet { background-image: url(https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet)!important; }
.yt { background-image: url(https://s.ytimg.com/yts/img/favicon_32-vflOogEID.png)!important; padding-left: 38px; }
.legacy { background-image: url(icons/ym-legacy.png)!important; text-decoration: underline!important; }
.ym { background-image: url(icons/yieldmore.png)!important; text-decoration: underline!important; }

.fb { background-image: url(https://facebookbrand.com/wp-content/uploads/2019/10/flogo_RGB_HEX-BRC-Site-250.png?w=32&h=32)!important; }
.ig { background-image: url(https://instagram-brand.com/wp-content/uploads/2016/11/Instagram_AppIcon_Aug2017.png?w=32)!important; }
.fb, .ig { background-size: 20px 20px!important; background-position: left center!important; background-repeat: no-repeat; padding-left: 24px!important; padding-right: 0px!important; }

.fb-links li { list-style-type:  none; }
.fb-links .bold { font-weight: bold; }
.fb-links .topic { margin-left: 30px; }

blockquote { margin-left: 40px; border-left: 6px solid #666; padding: 15px; }
.articles { margin: 0 0 30px 15px; font-weight: bold; }
.articles::before { content: 'Articles'; }

strong.center { text-align: center; display: block; margin-bottom: 15px; }
.banner { padding: 15px; border-radius: 20px; margin-top: 20px; }
.banner a { color: #fff; }

.above-banner-container { margin-top: 5px; margin-bottom: 5px; }
.above-banner { padding: 8px; background-color: #D2E4B6; font-size: small; }
.above-banner a { font-weight: bold; color: #27A2A3; }

.quote-above-banner { padding: 8px; background-color: #B6D2E4; font-size: small; }
.quote-above-banner a { font-weight: bold; color: #A327A2; }
.toggle-more { padding: 6px; background-color: #26A0DA; }
.more { border-top: 1px solid #333; }

.video-bgd { background-color: #000; }
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Course Content */
.warning { padding: 15px; background-color: #FBDC7C; border: 2px solid red; }
div.float-left { margin: 5px 15px 15px 0px; }
