.fixed-side-navbar:not(.of-section) { display: none; }

.baner-content { background-image: url(%url%_happyschools/assets/hands.jpg); padding: 10vh; }

.section { padding-bottom: 40px; border-right: 45px solid #926B49; }
.section .container { background-color: #FFDDC6; padding: 30px; border-radius: 50px; }
.section.home, .section.subpage { padding-top: 40px; }

.vanilla-section h2 { margin-bottom: 20px; }
