.page-enabler .banner-img { margin-bottom: 0px; }
#enabler { background: #19436D /*url(%url%/_enabler/assets/enabler-bgd.jpg) repeat-y top center;*/ }
#enabler .container { background-color: transparent;  }
/*.page-enabler #main { background:  url(%url%/_enabler/assets/enabler-bottom.jpg) no-repeat center bottom; padding-bottom: 30px; }-*/
#enabler .section-content { padding: 50px; border-radius: 40px; font-size: 130%; line-height: 1.3; color: #fff; }
.section-menu li { border-right: 10px solid #244C74!important; padding: 6px; }

#enabler .center { border: 2px solid #fff; border-width: 0 2px 0 2px; }
#enabler li { margin-bottom: 10px; }

.page-enabler #pre-footer, .page-enabler .footer-top, #header-sticky-wrapper, .mobile-nav-toggle { display: none; }
#enabler hr { margin: 40px; height: 4px; background-color: #B4161B; }
#enabler .name { letter-spacing: 2px; }

.enabler-cta { text-align: center; }
.enabler-cta .name { background-color: #B4161B; color: #fff; padding: 12px; border-radius: 20px; display: inline-block; font-size: 85%; }


@media (min-width: 1200px) {
	#enabler .container{ max-width: none; padding: 0 30px 0 200px; }
}
